.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  border: 1px dashed rgb(49, 20, 20);
  background-color: aliceblue;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.input {
  width: 230px;
  height: 30px;
  font-size: 20px;
  margin-top: 5px;
  border-radius: 4px;
  transition: border-color 5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(68, 64, 64, 0.5);
}

.input:hover {
  outline: none;
  border-color: rgb(15, 155, 122);
}

.button {
  width: 120px;
  font-size: 15px;
  margin: 15px 0 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  border-color: rgb(168, 179, 179);
  text-transform: capitalize;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button:hover {
  font-size: 18px;
  transform: scale(1.2);
  background-color: rgb(172, 240, 218);
}
