.navWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  justify-content: center;
}

.linksList {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
}

.link {
  font-size: 18px;
  font-weight: 500;
  color: #ffff;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #f5e277;
}

.active {
  color: #f5e277;
}

.active:hover {
  color: #ffff;
}
