.userName {
  font-weight: 500;
  margin: 0 0 16px 0;
  color: #3de667;
  text-align: center;
}

.btnLogout {
  width: 90px;
  font-size: 15px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 5px;
  border-color: rgb(168, 179, 179);
  text-transform: capitalize;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btnLogout:hover {
  font-size: 18px;
  transform: scale(1.2);
  background-color: rgb(172, 240, 218);
}
